body, html {
  margin: 0;
  padding: 0;
  background-color: #222531;
}

* {
    font-family: candara;
}

.title {
  font-family: homizio;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: firebrick;
  font-size: 70px;
  font-style: oblique;
}

.title p {
  color: khaki;
  font-size: 20px;
  margin-top: 0px;
}

.searchbox {
  top: 65%;
  left: 7%;
  position: absolute;
  width: 20%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
}

.searchbox i {
  width: 26px;
  float: left;
  text-align: center;
}

input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  float: left;
  margin: 0 10px;
}
