* {
  font-family: candara;
}

html, body {
  color: #333;
  background-color: #222531;
  margin: 0px;
}

.sign-up-form {
  width: 500px;
  margin: auto;
  background-color: #222531;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.row {
  width: 500px;
  height: 30px;
  margin: 10px 0px;
  background-color: #222531;
}

input:focus, select:focus {
  outline: none;
}

.input-field input, .input-field select {
  border: none;
  height: 30px;
  border-bottom: 1px solid #333;
  width: 180px;
  margin-left: 20px;
  padding: 0px 2px;
  font-size: 15px;
  color: white;
  background-color: #222531;
}

.sign-up-title {
  width: 20px;
  height: 30px;
  margin-left: 10px;
  float: left;
}

.input-field {
  float: left;
  color: #333;
}

.submit-button-row {
  margin-top: 30px;
}

.submit-button {
  margin-top: 50px;
  width: 200px;
  height: 30px;
  margin: auto;
  display: block;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
  font-weight: bold;
}

.name-title {
  width: 20px;
  background-image: url('icon/name-title-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.username-title {
  width: 20px;
  background-image: url('icon/username-title-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.dob-title {
  width: 20px;
  background-image: url('icon/dob-title-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.city-title {
  width: 20px;
  background-image: url('icon/city-title-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.category-title {
  width: 20px;
  background-image: url('icon/category-title-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.password-title {
  width: 20px;
  background-image: url('icon/password-title-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: #cc0000;
  text-align: center;
  font-family: sans-serif;
}

::placeholder {
  color: #4f5154;
  opacity: 1;
}
